body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

main {
  height: 95vh;
  width: 95vw;
  display: flex;
  align-items: center; }

.calculator-wrap {
  border-radius: 10px;
  width: 320px;
  margin: 0 auto;
  box-shadow: 2px 11px 11px -13px rgba(0, 0, 0, 0.63);
  background-color: #efefef;
  color: #a3a0a0;
  position: relative; }
  .calculator-wrap .header {
    background-color: #c83c5f;
    color: #ffff;
    font-size: 0.4em;
    letter-spacing: 1px;
    padding: 5px 0px;
    text-align: center;
    border-radius: 10px;
    z-index: 99;
    position: absolute;
    width: 100%; }
  .calculator-wrap .banner {
    height: 120px;
    background-color: #e54b71;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px; }
  .calculator-wrap .panel-result {
    background-color: #ffff;
    height: 100px;
    width: 85%;
    margin: 0 auto;
    margin-top: -60px;
    box-shadow: 2px 11px 11px -13px rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; }
    .calculator-wrap .panel-result :nth-last-child(1) {
      text-align: end;
      color: black; }
  .calculator-wrap .button-wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 2px 11px 11px -13px rgba(0, 0, 0, 0.63);
    background-color: #ffff;
    padding: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px; }
    .calculator-wrap .button-wrapper button {
      border-radius: 50%;
      border: transparent;
      font-size: 1em;
      background-color: #ffff;
      box-shadow: 2px 11px 11px -13px rgba(0, 0, 0, 0.63);
      color: #a3a0a0;
      transition: ease-in 0.1s;
      padding: 20px; }
    .calculator-wrap .button-wrapper button:nth-of-type(4n + 0) {
      color: #ffff !important;
      background-color: #e54b71 !important; }
    .calculator-wrap .button-wrapper button:nth-of-type(19),
    .calculator-wrap .button-wrapper button:nth-last-child(1) {
      color: #ffff !important;
      background-color: #ffc400 !important; }
    .calculator-wrap .button-wrapper .equal {
      grid-area: 5/3/5/5;
      border-radius: 20px !important; }
    .calculator-wrap .button-wrapper button:focus {
      background-color: #efefef !important;
      color: #e54b71 !important;
      outline: none; }
    .calculator-wrap .button-wrapper button:hover {
      background-color: #efefef !important;
      color: #e54b71 !important; }
